*{padding: 0;margin:0;}
body{font-family:'Microsoft YaHei';}

header {background-color: #919191;width:100%;color: black;position:fixed;z-index: 10;}
header ul{padding:20px;float: right;}
h1{color: #eee;font-size: 40px;}
header ul li{display: inline;margin:30px;}
a:link{color:black;text-decoration: none;}
a:visited{color:black;}
a:hover{color:white;}
p{font-family:'Microsoft YaHei'}
/*header*/
#topNav{display: none;}

/*section-me*/
#section-me{height:342px;background-color:#8deeee;padding:300px 0 0 200px;}
.my{position: absolute;top:80px;left:600px;}
.me-now p{margin:8px;}
.me-now a:link{color:red;}
.me-now a:visited{color:red;}
.me-now a:hover{color:#fff;}
/*.me-noe p a:hover{background-color:#fff;}*/
#iCanDoNothing{float: right;margin-top:10px;margin-right:200px;}
.iCanDoNothing-1{margin-top:88px;}
.iCanDoNothing-1 p{margin-bottom:13px;}

/*section-skill*/
#section-skill{background-color: palegreen;height:700px;width:100%;}
#section-skill h1{text-align:center;padding:100px 0 0 20px;}
.skill-out{padding:80px 0 0 160px;}
.skill-out p {display: inline-block;width:90px;font-size: 24px;}
.skill-in{width:760px;margin-bottom:-50px;}
.skill-line-out{display:inline-block;background-color:red;width:500px;height:20px;
    margin-left:100px;border-radius: 10px;}
.skill-line-in{display:inline-block;background-color: black;width:300px;height:20px;
    border-radius: 10px;}
.w40{width:200px;}
.w20{width:100px;}
.skill-show{position: relative;left:600px;width:400px;top:-20px;display:none;}
.skill-show-in{padding:8px;position:absolute;background-color: #fff;border:1px #000 solid;
   list-style-position: inside;border-radius: 10px;width:450px;}

/*section-workExp*/
#section-workExperience{background-color:#87cefa;height:700px;}
#section-workExperience h1{padding:100px 0 0 20px;text-align: center;}
#section-workExperience p{width:160px;position: relative;}
.learn-experience{margin-top:220px;}
.society-line{display: block;width:800px;height:4px;background-color: red;margin:0 auto; }
.society-time{display:block;width:8px;height:8px;background-color: red;position: relative;
    left:150px;top:4px;z-index: 0;}
.s70{position: relative;left:550px;top:-4px;}
.learn-line{display: block;width:800px;height:4px;background-color: red;
    margin:70px auto ;}
    /*设置时间线点*/


.learn-line-block{z-index: 0;position: relative;display:inline-block}
.dot{display:inline-block;width:8px;height:8px;background-color:red;position:absolute;}


.learn-line-position {position:relative;}
.learn-line-position ul{position: absolute;width:350px;}

    /*学习计划*/
.learn-line-1 ul{left: 300px;top:-30px;}
.learn-line-2 ul{left: 350px;top:-230px;}
.learn-line-3 ul{left: 570px;top:-30px;}
.learn-line-4 ul{left: 820px;top:-170px;}
    /*.learn-line-5 ul{left: 850px;top:50px;}*/

    /*时间点，应该将时间点和红色点放在一起*/
.learn-year-1{top: 15px;left:55px;}
.learn-year-2{top: -30px;}
.learn-year-3{top: 15px;left:100px;}
.learn-year-4{top:-30px;left:100px;}

.L0{left:80px;top:4px;}
.L20{left:80px;top:-8px;}
.L40{left:150px;top:4px;}
.L60{left:160px;top:-8px;}
    /*.L80{position: relative;left:640px;}*/

    /*对学习路线的上部点的整体位置调整*/
.learn-total-block1{position: relative;top:-74px;left:130px;}
.learn-total-block2{position: relative;top:-104px;left:180px;width:0}
/*section-actualExperience*/
#section-actualExperience{background-color:#acff70;height:642px;}
.experience-title h3{padding-top:100px;margin:0 auto 0 auto;width:350px;font-size: 30px;}
.experience-main{width:600px;margin: 50px auto;}
.experience-main a{color:red;}